@tailwind base;

@tailwind components;

@tailwind utilities;


@font-face {
    font-family: "ObjectSans";
    src: url("/fonts/ObjectSans-Regular.woff") format("woff");
}

body, main {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', "ObjectSans";
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
